div {
  height: 100px;
  width: 100px;
  background-color: dodgerblue;
  color: white;
  border: 1px solid black;
  margin: 7px 0px 0px 0px;
}

.dark {
  background-color: black;
  color: white;
}

.light {
  background-color: white;
  color: black;
}