* {
  padding: 0;
  margin: 0;
}     
body {
  background-color: #631314c5;
  text-align: center;
  /* background-image: url(BG.jpg); */
  background-image: url(TTT.jpg);
  background-size: cover;
}
.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5vmin;
}

.box{
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0,0,0,0.4);
  font-size: 8vmin;
  color: #eaf7c4;
  background-color: #017b60d8;
}

#reset {
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  font-size: 1.5rem;
  background-color: #979706d3;
  color: rgb(22, 16, 16);
}

#new-btn {
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  font-size: 1.5rem;
  background-color: #979706d3;
  color: rgb(22, 16, 16);
}

#msg {
  color: #ffffc7;
  font-size: 5vmin;
}

.msg-Container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.hide {
  display: none;
}

h1 {
  color: rgb(18, 21, 20);
  font-size: 50px;
  /* font-style: italic; */
}